@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Outfit';
    display: flex;
    height: 100vh;
   
    justify-content: center;
    align-items: center;
}
.container{
    background-color: hsl(212, 45%, 89%);
    width: 80%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.img{
    height: 200px;
    border-radius: 10px;

}
.section{
background-color: hsl(0, 0%, 100%);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
max-width: 250px;
height: 350px;
text-align: center;
padding: 10px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
p{
    max-width: 180px;
    padding-top: 10px;
}
.p2{
    font-size: 12px;
}
